<%-include('../partials/header')%>
<head>
<link rel="stylesheet" href="/css/error500.css">
</head>

<main>

<p>We are having technical difficulties</p>
<p>Return to the <a href = "/">Homepage</a> to continue browsing.</p>

<% if (NODE_ENV === 'development') { %>
        <details open>
            <summary>Error Details (Development Only)</summary>
            <pre><%= error %></pre>
            <pre><%= stack %></pre>
        </details>
    <% } %>


</main>

<%- include('../partials/footer')%>

